/* GLOBAL STYLES */
#body {
    background-color: #fafafa;
    color: #fff;
}

#nav {
    background-color: #c62828;
}
#footer {
    background-color: #c62828;
    margin-top: 0px;
    padding-top: 0px;
}

#main, #services, #home, #about, #contact, #donate {
    height: 705px;
}

/* NAV BAR */

.brand-logo {
    margin-left: 40px;
}


/* HOME PAGE */
#suit-img {
    /*height: 500px;*/
    /*width: auto;*/
}
#btn {
    background-color: #1a237e;
}

.suit-btn-large {
    margin: 20px 30% 0px 30%;
    width: 40%;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-family: "Verdana";
}
.fa-chevron-right {
    height: auto;
    letter-spacing: normal;
    line-height: 50px;
    vertical-align: bottom;
}

/* HOME STYLES */
#home {
    background-color: white;
    background: url(../img/atlanta-skyline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.7;
}

#services {
    background: url(../img/atlanta-night.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.7;
}

#about {}

#contact {

}
#donate {
    background: url(../img/atlanta-lake.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.7;
}